# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Editores / SO
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
desktop.ini

# Odoo
*.log
filestore/
sessions/

# Variables de entorno locales
.env
